html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform: rotateY(180deg);
    transition: transform .2s ease, background 0.1s linear;
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
    transform: rotateY(0);
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    animation: matched 0.8s ease;
}

@keyframes matched {
    33% {
        background: #0ae1cf;
        transform: scale(1.1)
    }
    66% {
        transform: scale(1)
    }
}

.deck .card.unmatch {
    cursor: default;
    background: #ff0000;
    animation: unmatched 0.8s ease;
}

@keyframes unmatched {
    33% {
        transform: rotateZ(4deg) translateX(10px);
    }
    66% {
        transform: rotateZ(-4deg)  translateX(-10px);
    }
    
}

.hidden {
    display: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    padding: 5px;
    transition: transform .4s cubic-bezier(0.4,0,0.2,1), opacity .3s linear;
}

.score-panel .restart:hover {
    opacity: .5;
    transform: rotateZ(270deg);
}

.fa-star.scored {
    color: rgb(240, 212, 0);
}

.fa-star {
    color: rgba(0,0,0,.1);
}

/*
 * Styles for the Modal
 */
 /* modal */

.modal {
    background-color: #FFF;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px 10px;
    vertical-align: middle;
    text-align: center;
    transition: background-color .2s ease;
}
.modal::before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

.modal.show {
    display: inline-block;
    background-color: rgba(40,40,40,.6);
}

.modal > .wrapper {
    max-width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
    vertical-align: middle;
    display: inline-block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,.4);
    padding: 20px 60px 30px;
    opacity: 0;
    transform: scale(.7);
    transition: transform .3s ease, opacity .2s linear;
}

.modal.show > .wrapper {
    transform: scale(1);
    opacity: 1;
    transition: transform .3s cubic-bezier(0,.6,.3,1.3), opacity .2s linear;
}

.modal > .wrapper > h1 {
    font-weight: 600;
}

.actions > .button {
    margin: 1rem .5rem 0;
    border: none;
    box-shadow: 0 5px 25px -5px rgba(0,0,0,.2);
    padding: 10px 20px;
    cursor: pointer;
    background: #0ae1cf;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    transition: background .2s linear;
}

.actions > .button.-reset {
    background: transparent;
    box-shadow: none;
    color: rgba(0,0,0,.7);
}

.actions > .button.-reset:hover {
    background: rgba(0,0,0,.05);
}

.actions > .button:hover {
    background:#0effeb;
}

.success {
    color: lightgreen;
}

.game-over {
    color: rgb(206, 40, 40);
}

.text-moves {
    color: rgb(200, 200, 200);
}

.fa-star {
    color: rgba(0,0,0,.1);
}

.score {
    margin-bottom: 1rem;
}

.score p {
    margin: 0 .5rem;
}

.stars.score {
    margin: 0;
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    margin: 0 5px 0 0;
}

.stars.score li {
    list-style: none;
    display: inline-block; 
    font-size: 32px;
    margin: 0 4px;
    opacity: 0;
}

.stars.score li.animate {
    opacity: 1;
    transform: scale(1);
    animation: animateStar .8s ease;
}

@keyframes animateStar {
    0% {
        opacity: 0;
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}